body {
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", system-ui, sans-serif;
  background:
    linear-gradient(135deg, #06162a, #0a0f24),
    repeating-linear-gradient(
      0deg,
      rgba(255,255,255,0.03) 0px,
      rgba(255,255,255,0.03) 1px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255,255,255,0.03) 0px,
      rgba(255,255,255,0.03) 1px,
      transparent 1px,
      transparent 40px
    );
}

.container {
  width: 520px;
  margin: 80px auto;
  padding: 28px;
  border-radius: 18px;

  background: linear-gradient(
    135deg,
    rgba(88, 104, 255, 0.25),
    rgba(255, 90, 180, 0.25)
  );

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  box-shadow:
    0 0 0 1px rgba(255,255,255,0.08),
    0 30px 80px rgba(0,0,0,0.6);

  color: #eaf0ff;
}

h2 {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 700;
  color: #7de0ff;
  text-shadow: 0 0 12px rgba(125,224,255,0.8);
}

.upload-row {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.upload-row button {
  background: linear-gradient(135deg, #4cc9f0, #4895ef);
  border: none;
  color: #03142a;
  font-weight: 700;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 18px rgba(76,201,240,0.7);
}

.upload-row button:disabled {
  opacity: 0.5;
  box-shadow: none;
}

progress {
  width: 100%;
  height: 12px;
  appearance: none;
}

progress::-webkit-progress-bar {
  background: rgba(255,255,255,0.15);
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background: linear-gradient(90deg, #2efc8b, #1dd1a1);
  border-radius: 10px;
  box-shadow: 0 0 14px rgba(46,252,139,0.9);
}

.grid {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(36px, 1fr));
  gap: 8px;
  /* max-height: 220px;
  overflow-y: auto; */
}

.chunk {
  height: 36px;
  border-radius: 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #03142a;
}

.chunk.pending {
  background: rgba(255,255,255,0.2);
}

.chunk.uploading {
  background: linear-gradient(135deg, #f72585, #b5179e);
  box-shadow: 0 0 10px rgba(247,37,133,0.8);
}

.chunk.success {
  background: linear-gradient(135deg, #2efc8b, #1dd1a1);
  box-shadow: 0 0 10px rgba(46,252,139,0.8);
}

.chunk.error {
  background: linear-gradient(135deg, #ff4d4f, #d90429);
}

.result-box {
  margin-top: 22px;
  padding: 16px;
  border-radius: 14px;
  background: rgba(0,0,0,0.35);
}

.status-badge {
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
}

.status-badge.completed,
.status-badge.already_completed {
  background: #f72585;
  color: white;
  box-shadow: 0 0 10px rgba(247,37,133,0.7);
}

.result-box code {
  display: block;
  padding: 10px;
  margin-top: 6px;
  background: rgba(255,255,255,0.1);
  border-radius: 8px;
  word-break: break-all;
}

